header .logo p span{
    font-size: 40px;
    color: palevioletred;
    font-weight: bolder;
    font-style: italic;
}
header .logo p{
    font-size: 40px;
    color: gray;
    font-weight: bolder;
}
header{
    box-sizing: border-box;
    font-size: 200%;
    z-index: 1000;
    width: 100%;
    top: 0;
    color:gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    background-color:rgb(221, 171, 188);
    box-shadow:  2px 4px 8px rgb(133, 77, 4);
}
button:hover{
    color: aquamarine;
    background-color: rgb(144, 150, 148);
    font-size: 30px;
    transition: 0.3s all ease-in-out;
    letter-spacing: .2rem;
}
.vetement{

}
.b{
    text-align: center;
    align-items: center;
    border:bisque solid 0.02px;
    box-shadow: gray;
}
p{
    font-size: larger;
}
.b h5{
    background-color: rgb(180, 174, 174);
    font-size: 12px;
}
.vet{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 10px;
}
@font-face {
    font-family: mariamfont;
    src: url("CormorantGaramond-Bold.ttf");
}
button{
    background-color: gray;
    border: rgb(146, 132, 138);
}
